<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.PROG6ASPNETConnectionString"
            connectionString="Data Source=server2.def-tech.nl;Initial Catalog=PROG6ASPNET;User ID=PROG6ASPNET;Password=qwerty;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>