@{
    ViewBag.Title = "Delete Klant";
}

<h2>Delete</h2>
<p style="text-align:center"> Weet je zeker dat je deze klant wilt verwijderen?</p>
<button>Cancel</button>
<button style="text-align:right">OK</button>