@{
    ViewBag.Title = "Delete Kamer";
}

<h2>Delete</h2>
<p style="text-align:center"> Weet je zeker dat je de boeking wilt verwijderen?</p>
<button>Cancel</button>
<button style="text-align:right">OK</button>