body {
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#333
}

th {
    padding-left: 15px;
    font-size: 15px;
    font-weight:bold;
    text-align:left;
}

td {
    font-size: 14px;
    padding-left: 15px;
}

p {
    padding-top: 2px;
    padding-left: 5px;
}

a {
    color: #333;
    font-size: 14px;
}

a:active {
    color: #cdeaf7;
    font-size: 14px;
}


h1 {
    font-size: 32px;
    color: #cdeaf7;
    padding-top: 2px;
    padding-left: 5px;
    font-style:oblique;
}


h2, h3, h4, h5, h6 {
    padding-top: 2px;
    padding-left: 5px;
}


#wrapper {
    margin: 0 auto;
    width: 1100px;
}

#headerwrap {
    width: 1100px;
    float: left;
}

#header {
    height: 75px;
    background: #12B8FF;
    border-radius: 10px;
    border: 1px solid #00a4eb;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

#menuwrap {
    width: 1100px;
    float: left;
    clear: both;
}

#menu {
    font-size: 15px;
    font-weight:800;
    height: auto;
    background: #99bbca;
    border-radius: 10px;
    border: 1px solid #8bb6ca;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

#contentwrap {
    width: 1100px;
    float: left;
}

#content {
    background: #ADCFDE;
    border-radius: 10px;
    border: 1px solid #99bbca;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

#footerwrap {
    width: 1100px;
    float: left;
    clear: both;
}

#footer {
    height: 40px;
    background: #12B8FF;
    border-radius: 10px;
    border: 1px solid #00a4eb;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
    color: #cdeaf7;
    text-align:center;
}

